include extension/inc/wrapper.h
include extension/linux64/include/nabto_client_api.h
include extension/linux64/lib/libnabto_client_api_static.a
include extension/linux64/lib/libnabto_static_external.a
